*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1fr, 2);
    grid-template-areas: "navbar navbar"
                         "titular titular"
                         "options options";
                         
}
.titular{
    display: flex;
    grid-area: titular;
    width: 100%;
    height: 8vh;
    background: rgb(109, 109, 109);
    justify-content: center;
    margin-top: 8.8vh;
}
.titular-items{
    color: #fff;
    padding: 2%;
    text-align: center;
    font-size: 1.2em;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    grid-area: options;
}
.btn-items{
    display: block;
    text-decoration: none;
    font-size: 1.6em;
    text-align: center;
    color: #000;
    margin: 20px 0 20px 0;
    padding: 10px;
    background: #e9e9e9;
    box-shadow: 4px 4px 8px grey;
    border: 1px rgb(138, 138, 138) solid;
    width: 80vw;
}