*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1fr, 2);
    grid-template-areas: "navbar navbar"
                         "login login";
    justify-content: center;
                         
}
.login{
    grid-area: login;
    margin-top: 12vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    background: rgb(63, 63, 63);
    box-shadow: 2px 2px 10px grey;
}
.title-login{
    color: #fff;
    padding: 3%;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    background: #c10000de;
}
.label-login{
    color: #fff;
    font-size: 1.3em;
    padding: 2%;
    margin: 10px 0;
}
.login-inp{
    padding: 3%;
    border: 2px rgb(163, 163, 163) solid;
    background: transparent;
    width: 80%;
    font-size: 1.2em;
    color: rgb(224, 224, 224);
}
.login-select{
    padding: 3%;
    background: transparent;
    border: 1px rgb(163, 163, 163) solid;
    font-size: 1.3em;
    color: rgb(163, 163, 163);
}
.btn-login{
    display: block;
    width: 35%;
    padding: 3%;
    margin-top: 20px;
    border: none;
    background: #c10000de;
    font-size: 1.25em;
    color: #fff;
    box-shadow: 1px 1px 8px rgb(77, 77, 77);
}